NODE_ENV=local
NODE_ENV_CONTEXT=default
NODE_CHECK_WEATHER_ENDPOINT=https://api.openweathermap.org/data/2.5
NODE_CHECK_WEATHER_TIMEOUT=5000
NODE_CHECK_WEATHER_KEY=
NODE_CHECK_WEATHER_SERVICES=['weather', 'forecast']
NODE_CHECK_LOCATION_ENDPOINT=http://ip-api.com/json
NODE_CHECK_LOCATION_TIMEOUT=5000
NODE_CHECK_WEATHER_COUNTRY=